{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.kotoba-lang/kotoba-kir {:git/url "https://github.com/kotoba-lang/kotoba-kir.git"
                     :git/sha "2b741eaf551e94de95288c35646062ebfab0720f"}
        io.github.kotoba-lang/artifact {:git/url "https://github.com/kotoba-lang/artifact.git"
                   :git/sha "c544000a86ec85b1ecd6948587ed792ebf1f4de6"}
        io.github.kotoba-lang/kotoba-native {:git/url "https://github.com/kotoba-lang/kotoba-native.git"
                        :git/sha "f511714d465cbeced5fe77cb607acb79663c6f0e"}}
 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "cognitect.test-runner"]}}}
