{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.kotoba-lang/kotoba-kir
        {:git/url "https://github.com/kotoba-lang/kotoba-kir.git"
         :git/sha "b6d84179a87a12e3de8c5b932127494e8b15b175"}
        io.github.kotoba-lang/artifact
        {:git/url "https://github.com/kotoba-lang/artifact.git"
         :git/sha "af43fc8fa43edb12361828e26456f75b12ab40be"}
        io.github.kotoba-lang/kotoba-verifier
        {:git/url "https://github.com/kotoba-lang/kotoba-verifier.git"
         :git/sha "ef5d93d628d33b3101e6e487c6eed22f19e19a01"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                :git/sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
